<a href="https://colab.research.google.com/github/Parvez-kamaly/Python_learn-/blob/main/Python_problem(solved)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Variables & Data Types**

**Swap two numbers without using a temporary variable.**

In [ ]:
a,b=10,5
a,b=b,a    #swapp with temmporary variable
print(a)
print(b)

5
10

**Check the data type of a variable and convert it to another type.**

In [ ]:
s='123'
print('data type of s is ',s,type(s))

data type of s is  123 <class 'str'>

In [ ]:
new_datatype=int(s)
print('Data type of s is now',new_datatype,type(new_datatype))

Data type of s is now 123 <class 'int'>

**Concatenate two strings and print the result.**

In [ ]:
str1='Hello'
str2='World'

result=str1+' '+str2
print(result)

Hello World

In [ ]:
name=input('Enter the name')
surname=input('Enter the surname')

result=name+' '+surname
print(result)

Enter the nameparvez
Enter the surnamekamaly
parvez kamaly

**Count how many times a specific character appears in a string.**

In [ ]:
text='hello world'
char='l'
count=text.count(char)
print('it has ',count, 'times',char)

it has  3 times l

In [ ]:
text=input('enter the word: ')
char=input('Enter the character: ')
count=text.count(char)
print(count)

enter the word: banana
Enter the character: a
3

In [ ]:
###extra
name=input('Enter the name: ')
char=input('Enter the char: ')
count=name.count(char)
print(count)

Enter the name: jenney
Enter the char: e
2

**2. Lists, Tuples, Sets**

**Find the largest and smallest number in a list.**

In [ ]:
numbers=[10,30,40,50,90,32]
largest=max(numbers)
smallest=min(numbers)

print('The largest value of the list is :',largest)
print('The smallest value of the list is :',smallest)

The largest value of the list is : 90
The smallest value of the list is : 10

In [ ]:
numbers=list(map(int,input('Enter the numbers separted by space:').split()))
largest=max(numbers)
smallest=min(numbers)

print('The largest number of list is: ',largest)
print('The smallest number of list is : ',smallest)

Enter the numbers separted by space:10 89 76 54 45 32 76 11 6 2 88 98
The largest number of list is:  98
The smallest number of list is :  2

**Remove duplicates from a list**

In [ ]:
numbers=[10,20,30,40,50,30,20,30,40,320,20,20,340,40,300,40]
unique_num=set(numbers)
print(unique_num)

{320, 40, 10, 300, 50, 20, 340, 30}

In [ ]:
numbers=[1,3,4,3,3,3,5]
list=set(numbers)
print(list)

{1, 3, 4, 5}

In [ ]:
numbers=[1, 2, 3, 2, 4, 1, 5, 3]
unique_num=[]

for num in numbers:
  if num not in unique_num:
    unique_num.append(num)
    print(unique_num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
num=[1,2,2,3,5,4,3,3,2,4,2,2,6,5,7,6,4,8,4]
print(len(num))

19

In [ ]:
unique_num=[]  # empty unique num where i keep the orginal value not  duplicate value
for n in num:
  if n not in unique_num:
    unique_num.append(n)
    print(unique_num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 5]
[1, 2, 3, 5, 4]
[1, 2, 3, 5, 4, 6]
[1, 2, 3, 5, 4, 6, 7]
[1, 2, 3, 5, 4, 6, 7, 8]

In [ ]:
print(len(unique_num))

8

**Reverse a list without using the reverse() function.**

In [ ]:
#using reverse () function
num=[1,2,3,4,5,6,7]
new_num=list(reversed(num))
print(new_num)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
## without using reverse fucntion
num=[1,2,3,4,5,6,7]
reverse_list=num[::-1]         #[start,stop,step]   [-1 means move backwards one step at a time]
print(reverse_list)

[7, 6, 5, 4, 3, 2, 1]

**Find common elements between two lists.**

In [ ]:
num1=[1,2,3,4,5,6,7,8,9,10]
num2=[2,4,6,8,10,12]
common=list(set(num1) & set(num2))   # & operator find the intersection
print(common)

[2, 4, 6, 8, 10]

In [ ]:
common=set(num1).intersection(set(num2))
print(common)

{2, 4, 6, 8, 10}

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3 = [0, 5, 9, 4]

common=set(list1).intersection(list2,list3)
print('Common of list:',common)

Common of list: {4, 5}

In [ ]:
#SOME EXTRA
#FIND UNION AND DIFFERENCE
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print('union',A.union(B))

union {1, 2, 3, 4, 5, 6}

In [ ]:
print('A-B Difference: ',A.difference(B))
print('B-A Difference: ',B.difference(A))

A-B Difference:  {1, 2}
B-A Difference:  {5, 6}

**Count the frequency of elements in a list.**

In [ ]:
from collections import Counter
numbers=[1, 2, 2, 3, 4, 4, 4, 5]
frequency=Counter(numbers)
print('Frequecy of counter: ',frequency)

Frequecy of counter:  Counter({4: 3, 2: 2, 1: 1, 3: 1, 5: 1})

**Dictionaries**

In [ ]:
#Method:1
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}

dict1.update(dict2)
print('Merged dictonary ',dict1)

Merged dictonary  {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Method:2
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}

merged=dict1 | dict2
print('merged dictionary ',merged)

merged dictionary  {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Count the frequency of words in a sentence using a dictionary.**

In [ ]:
from collections import Counter
sentence='I love python because i love coding in python'
word_frequency=Counter(sentence.split())
print(word_frequency)

Counter({'love': 2, 'python': 2, 'I': 1, 'because': 1, 'i': 1, 'coding': 1, 'in': 1})

In [ ]:
from collections import Counter
name='Sylhet Engineering college'
res=Counter(name.split())
print(res)

Counter({'Sylhet': 1, 'Engineering': 1, 'college': 1})

**Extract all keys or values from a dictionary**

In [ ]:
student = {
    "Name": "Parvez",
    "Roll": 20,
    "GPA": 3.5,
    "Merit": "Third position"
}

student.keys()

dict_keys(['Name', 'Roll', 'GPA', 'Merit'])

**Check if a string is a palindrome**

In [ ]:
def is_palindrome(s):
  s=s.lower()

  return s==s[::-1]   # compare in reverse way

print(is_palindrome('madam'))
print(is_palindrome('Python'))

True
False

**Reverse the words in a sentence.**

In [ ]:
sentence='I love python programming'
rev=reversed(sentence.split())
print('  '.join(rev))

programming  python  love  I

In [ ]:
dept_name='Electrical and Electronics Engineering department'
rev=reversed(dept_name.split())
print(' '.join(rev))

department Engineering Electronics and Electrical

**Print all prime numbers up to n.**

In [ ]:
def prime_no(n):
  primes=[]

  for num in range(2,n+1):
    if all(num % i !=0 for i in range(2,num)):
      primes.append(num)
  return primes

n=50
print(prime_no(n))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
n=100
print(prime_no(n))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
def prime_no(n):
  prime=[]

  for num in range(2,n+1):
    if all(num % i !=0 for i in range(2,num)):
      prime.append(num)
  return prime

n=30
print(prime_no(n))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

**Print a pattern (like a pyramid or triangle) using loops.**

In [ ]:
n=5

for i in range(1,n+1):
  print('*' * i)

*
**
***
****
*****

In [ ]:
n=5


for i in range(n,0,-1):
  print('*' * i)

*****
****
***
**
*