<a href="https://colab.research.google.com/github/Parvez-kamaly/Python_learn-/blob/main/Python_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conditional Statements in Python**

In [ ]:
age=20
if age>=18:
  print('Eligible to vote.')

Eligible to vote.

In [ ]:
age=16
if age<=18:
  print('Not Eligible to vote')

Not Eligible to vote

In [ ]:
age=10
if age<=12:
  print('Travel for free')
else:
  print('Pay for ticket')

Travel for free

In [ ]:
marks=45
res='pass' if marks>=35 else 'Fail'
print('Result',res)

Result pass

In [ ]:
marks=45
res='pass' if marks>=50 else 'Fail'
print('Result',res)

Result Fail

In [ ]:
parvez_age=25
if parvez_age<=18:
  print('He is a child now')
elif parvez_age>18:
  print('He is a young adult')
else:
  print('He is only adult')

He is a young adult

**Nested if..else Conditional Statement**

In [ ]:
marks=int(input('Enter your marks:'))

if marks>=40:
  if marks>=80:
    print('Grade A+')
  if marks<=80:
    print('Pass')
else:
  print('Fail')

Enter your marks:33
Fail

In [ ]:
marks=int(input('Enter your marks:'))

if marks>=40:
  if marks>=80:
    print('Grade A+')
  if marks<=80:
    print('Pass')
else:
  print('Fail')

Enter your marks:89
Grade A+

In [ ]:
num=int(input('Enter a number:'))

if num>=0:
  if num==0:
    print('Number is zero')
  else:
    print('Number is positive')
else:
  print('Number is negative')

Enter a number:2
Number is positive

In [ ]:
# check age
age=int(input('Enter your age:'))

if age>=18:
  if age>=60:
    print('SENIOR CITIZEN')
  else:
    print('YOUNG citizen')
else:
  print('child')

Enter your age:90
SENIOR CITIZEN

**Loops in Python - For, While and Nested Loops**

In [ ]:
n=5
for i in range(0,n):
  print(i)

0
1
2
3
4

In [ ]:
n=5
for i in range(0,n+1):
  print(i)

0
1
2
3
4
5

In [ ]:
li=['geeks','for','geeks']
for i in li:
  print(i)

geeks
for
geeks

In [ ]:
tup=('Mango','Apple','Banana')
for i in tup:
  print(i,type(tup))

Mango <class 'tuple'>
Apple <class 'tuple'>
Banana <class 'tuple'>

In [ ]:
for index in range(len(tup)):
  print(index)

0
1
2

In [ ]:
print(tup[index])

Banana

In [ ]:
#while loop
cnt=0
while(cnt<3):
  cnt=cnt+1
  print('HELLO MAN')

HELLO MAN
HELLO MAN
HELLO MAN

In [ ]:
num=int(input('Enter the numbers:'))

while(num<10):

  print('HELLO MAN')
  num=num+1
else:
  print('CONDITION NOT MATCH')

Enter the numbers:3
HELLO MAN
HELLO MAN
HELLO MAN
HELLO MAN
HELLO MAN
HELLO MAN
HELLO MAN
CONDITION NOT MATCH

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i,'x',j,'=',i*j)
  print('......')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
......
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
......
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
......

In [ ]:
for i in range(1,11):
  if i ==6:
    break
  print(i,end=' ')

1 2 3 4 5

In [ ]:
for i in range(1,11):
  if i==6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==6:
    continue
  print(i,end='  ')

1  2  3  4  5  7  8  9  10

In [ ]:
for i in range(1,101):
  if i%2==0:
    continue
  print(i,end='  ')

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  79  81  83  85  87  89  91  93  95  97  99

In [ ]:
for i in range(1,101):
  if i%10!=0:
    continue
  print(i,end='  ')

10  20  30  40  50  60  70  80  90  100