<a href="https://colab.research.google.com/github/Parvez-kamaly/Python_learn-/blob/main/Python_(1)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is a comment. it will be not be executed
print("Hello world")

Hello world

In [ ]:
"""
This is multiline comment.
It can be used to describe larger sections of code.

   """

'\nThis is multiline comment. \nIt can be used to describe larger sections of code.\n\n   '

In [ ]:
print('I have no indentation')
print('I have tab indentaion')

I have no indentation
I have tab indentaion

**INPUT AND OUTPUT IN PYTHON **

In [ ]:
name=input('Enter your name')
print('Hello',name,'welcome to learning python in geeks force')

Enter your nameParvez Kamaly
Hello Parvez Kamaly welcome to learning python in geeks force

In [ ]:
name=input('Enter your department name:')
print('Welcome to the',name,'Department')

Enter your department name:EEE
Welcome to the EEE Department

In [ ]:
# Single variable
s='Bob'
print(s)

Bob

In [ ]:
# Multiple variable
s='Alice'
age=25
city='New York'
print(s,age,city)

Alice 25 New York

In [ ]:
age=input('Enter your age')
print('your age is',age)

Enter your age25
your age is 25

In [ ]:
# Taking two inputs at a time
x,y=input('Enter two values: ').split()
print('Number of boys:',x)
print('Number of girls:',y)

Enter two values: 10 12
Number of boys: 10
Number of girls: 12

In [ ]:
x,y,z=input('Enter three values: ').split()
print('Number of Boys: ',x)
print('Number of Girls',y)
print('Number of Teachers',z)

Enter three values: 10 12 5
Number of Boys:  10
Number of Girls 12
Number of Teachers 5

In [ ]:
x,y=map(int,input('Enter two numbers: ').split())   #split = divide in input with space  & # map(int,....) make number from string for calculation
print(x+y)

Enter two numbers: 10 4
14

In [ ]:
num1,num2=map(int,input('Enter two numbers:').split())
print(num1*num2)
print(num1/num2)
print(num1-num2)

Enter two numbers:20 10
200
2.0
10

In [ ]:
# Take input as a string
color=input('What color is rose?')
print(color)

What color is rose?red
red

In [ ]:
name=input('What is your name:')
print(name)

What is your name:My name is parvez kamaly
My name is parvez kamaly

In [ ]:
name=input('What is your name: ')
print(name)

What is your name: My name is Parvez kamaly
My name is Parvez kamaly

In [ ]:
a=input('Hey, how old are you?:')
print(a)

Hey, how old are you?:i am 25 years old
i am 25 years old

In [ ]:
# Print numbers in python
n=int(input('How many years you are live in canada?'))
print(n)

How many years you are live in canada?10
10

In [ ]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

**Python variables**

In [ ]:
#variable 'x' stores the interger value 5
x = 5

#variable 'name' store the string 'Parvez kamaly'
name='Parvez Kamaly'

print(x)
print(name)

5
Parvez Kamaly

In [ ]:
print(x,name)

5 Parvez Kamaly

In [ ]:
a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a,b,c=100,5.3,'Python'
print(a,b,c)

100 5.3 Python

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
z='10'
l=int(z)
print(l)

10

In [ ]:
age=25
string=str(age)
print(string)

25

In [ ]:
a,b=10,5
a,b=b,a
print(a,b)

5 10

In [ ]:
word='Python'
length=len(word)
print(length)

6

In [ ]:
print('Length of the word:',length)

Length of the word: 6