<a href="https://colab.research.google.com/github/Parvez-kamaly/Python_learn-/blob/main/python_prob_solution_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Find the maximum and minimum in a list.**

In [ ]:
lst=[10,20,40,90,80]
maximum=max(lst)
print(maximum)

90

In [ ]:
minimum=min(lst)
print(minimum)

10

In [ ]:
lst=[10, 20, 40, 90, 80]
maximum=lst[0]
minimum=lst[0]

for num in lst:
  if num > maximum:
    maximum=num
  if num < minimum:
    minimum=num

print('Maximum',maximum)
print('Minimum',minimum)

Maximum 90
Minimum 10

**Remove duplicates from a list.**

In [ ]:
lst=[10,30,40,10,20,30,20,20,50,40]
result=list(set(lst))
print(result)

[40, 10, 50, 20, 30]

**Find the second largest number in a list.**

In [ ]:
lst=[10, 20, 40, 90, 80]
lst.sort()
print('Second largest number of the list: ',lst[-2])

Second largest number of the list:  80

**Reverse a list without using reverse().**

In [ ]:
lst=[10,20,30,40,50,90]
reversed_list=lst[::-1]
print(reversed_list)

[90, 50, 40, 30, 20, 10]

In [ ]:
# use reverse funciton
lst=[10,20,30,40,50,90]
list(reversed(lst))

[90, 50, 40, 30, 20, 10]

**Rotate a list by k positions.**

In [ ]:
lst=[1,2,3,4,5]
k=2
k=k % len(lst)

rotated=lst[-k:] +lst[:-k]
print('Rotated list:',rotated)

Rotated list: [4, 5, 1, 2, 3]

**Convert a list to a tuple and back.**

In [ ]:
lst=[10,20,30,40,50]
tup=tuple(lst)
print(tup)

(10, 20, 30, 40, 50)

In [ ]:
list(tup)

[10, 20, 30, 40, 50]

**Find unique elements from two lists using sets.**

In [ ]:
lst1=[10,20,30,40,50]
lst2=[10,30,90,80,60]
set1=set(lst1)
set2=set(lst2)
unique_elements=set1 ^ set2
print(unique_elements)

{80, 50, 20, 90, 40, 60}

In [ ]:
# alternate method
unique_elements=set1.union(set2)-set1.intersection(set2)
print(unique_elements)

{40, 80, 50, 20, 90, 60}

**Check if two sets are disjoint.**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}
set3 = {3, 8, 9}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

**Find common elements in three lists using sets.**

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list3 = [5, 6, 7, 8, 9]

set1=set(list1)
set2=set(list2)
set3=set(list3)

common_elements=set1 & set2 & set3
print('Common elements of 3 set is: ',common_elements)

Common elements of 3 set is:  {5}

**Count frequency of words in a sentence**

In [ ]:
from collections import Counter
sentence='I LOVE MACHINE LEARNING AND DATA SCIENCE'
text=sentence.lower().split()

word_count=Counter(text)
print(word_count)

Counter({'i': 1, 'love': 1, 'machine': 1, 'learning': 1, 'and': 1, 'data': 1, 'science': 1})

**Merge two dictionaries.**

In [ ]:
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}

merged=dict1 | dict2
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
merged={**dict1, **dict2}  #alternate method
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Find the key with the maximum value in a dictionary.**

In [ ]:
data={'a':10,'b':20,'c':30,'d':40}

max_key=max(data,key=data.get)
print('key with the max value: ',max_key)
print('Maximum value: ',data[max_key])

key with the max value:  d
Maximum value:  40

**Sort a dictionary by its values.**

In [ ]:
data = {'a': 30, 'b': 10, 'c': 50, 'd': 20}

sorted_list=dict(sorted(data.items(),key=lambda item:item[1]))

print(sorted_list)

{'b': 10, 'd': 20, 'a': 30, 'c': 50}

**Create a dictionary from two lists (keys, values).**

In [ ]:
keys=['a', 'b', 'c', 'd']
values=[10, 20, 30, 40]
my_dict=dict(zip(keys,values))
print('dictionary',my_dict)

dictionary {'a': 10, 'b': 20, 'c': 30, 'd': 40}